{% extends "layout.html" %} 
{% block body %} 
    {% if session.logged_in %}
        <form action="{{ url_for('login') }}" method="post">
            <dl>
                {% for page in entries[:, 0] %}
                    <dt>Page:
                    <dd><label>{{page}}</label>
                    {% for entry in entries[page] %}
                        <dt>Title:
                        <dd><label name="title" value="{{entry.Title}}">
                        <dt>Text:
                        <dd><textarea name="{{page+':'+entry.Title}}" rows="5" cols="40">{{entry.Text}}</textarea>
                        
                    {% endfor %}
                {% endfor %}
                <dd><input type="submit" value="Save">
            </dl>
        </form>
    {% endif %}
{% endblock %}