<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Get Help | MEAC</title>
        <meta name="description" content="MEAC helps individuals and families in crisis in Madisonville and the surrounding communities by helping meet their basic needs and providing education programs that enable them to navigate their way out of poverty.">
		<meta name="keywords" content="madisonville,education,assistance,center,meac,cincinnati,ohio,poverty,help,crisis,food,pantry,clothing,literacy,meal,counseling,volunteer,donate,child,adult,emergency,money,45208,45209,45226,45227,hyde park,oakley,east end,fairfax,mariemont">
		<meta name=”robots” content=”index,follow”>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        
        <script src="../static/js/modernizr-2.6.2.min.js"></script>
    </head>
    
    <body>
    <div class="wrapper"> <!-- DO NOT MOVE OR CHANGE -->
    
<!-- NAVBAR ================================================== -->

    <header class="main-header">
        <nav class="navbar navbar-static-top">

            <div class="navbar-main">
            	<div class="container">
                	
                	<div class="navbar-header">
                  		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    		<span class="sr-only">Toggle navigation</span>
                    		<span class="icon-bar"></span>
                    		<span class="icon-bar"></span>
                    		<span class="icon-bar"></span>
                  		</button>
                  		<a class="" href="home.html">
                  			<img src="../static/images/MeacLogoOfficialWhiteTextVector.svg" alt="MEAC Logo" class="logo-img"> 
                  		</a>
                	</div>

                	<div id="navbar" class="navbar-collapse collapse pull-right">
                  		<ul class="nav navbar-nav">
                    		<li><a href="home.html">Home</a></li>
							<li class="has-child"><a href="about.html">About</a>
                      			<ul class="submenu">
						 			<li><a href="history.html">History</a></li>
                         			<li><a href="supporters.html">Supporters </a></li>
                         			<li><a href="meet_the_team.html">Meet the Team</a></li>
                         			<li><a href="contact.html">Contact Us</a></li>
                      			</ul>
                    		</li>
							<li><a class="is-active" href="get_help.html">Get Help</a></li>
                    		<li><a href="get_involved.html">Get Involved</a>
								<ul class="submenu">
						 			<li><a href="get_involved_financial.html">Financial Gifts</a></li>
                         			<li><a href="get_involved_products.html">Marketplace Donations</a></li>
                         			<li><a href="get_involved_volunteer.html">Volunteer</a></li>
									<li><a href="event_calendar.html">Event Calendar</a></li>
                      			</ul>
							</li>
					 		<li class="has-child"><a href="impact.html">Our Impact</a></li>
                  		</ul>
                	</div> <!-- /#navbar -->

              	</div> <!-- /.container -->
            </div> <!-- /.navbar-main -->

        </nav> 
    </header> <!-- /. main-header -->

<!-- MAIN CONTENT ================================================== -->

	<div class="main-container">
		<div class="container fadeIn animated">
		
			<div class="text-center">
				<br>
				<h1>GET HELP<span class="title-under"></span></h1>
				<br>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h2 class="title-style-2">Services & Programs<span class="title-under"></span></h2>
					<p>Click the tabs below to explore the various services and programs we offer.
					<p>Please note: an application is required for some services. Financial assistance will be provided on a case by case basis.</p>
					<ul class="list">
						Download <a href="../static/documents/Informational Client Brochure.pdf" download="Informational Client Brochure"><ins>Informational Client Brochure</ins> <i class="fa fa-file-pdf-o"></i></a><br>
					</ul><br>
					<div role="tabpanel">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#assistance" aria-controls="assistance" role="tab" data-toggle="tab">Assistance</a></li>
						    <li role="presentation"><a href="#programs" aria-controls="programs" role="tab" data-toggle="tab">Programs</a></li>
						  	<li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a></li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="assistance">
								<p>Assistance Programs include:</p>
								<ul>
									<li class="list"><b>Marketplace</b> - food, toiletries, cleaning products, clothing and household items.</li>
									<li class="list"><b>Financial Assistance</b> - pay utility bills, rent and mortgage, birth certificates, etc.</li>
									<ul class="list">
									</ul>
									<li class="list"><b>The Ohio Benefit Bank</b> - access public benefits (SNAP (food stamps), WIC, Medicaid, child care subsidies, federal & state income taxes, etc.)</li>
									<ul class="list">
										Download <a href="../static/documents/The Benefit Bank.pdf" download="The Benefit Bank Flyer"><ins>The Benefit Bank Flyer</ins> <i class="fa fa-file-pdf-o"></i></a><br>
									</ul>
									<li class="list"><b>Referrals</b> to other organizations for services that MEAC does not provide.</li>
								</ul>
						    </div>
						    <div role="tabpanel" class="tab-pane" id="programs">
								<p>Programs include:</p>
								<ul>
									<ul class="list">
									</ul>
									<li class="list"><b>Early Childhood Literacy Program</b> - to help children (preschool through 3rd grade) who have reading deficiencies increase their reading abilities and confidence. Programs office at the John P. Parker Elementary School (Madisonville) and Summer Reading Camp at MEAC. </li>
										<ul class="list">
											For more information contact Rachel Curry @ rachel.curry@fuse.net <br>									
										</ul> 
									<li class="list"><b>Adult Basic Reading Program</b> - through our partnership with the Literacy Network of Greater Cincinnati to teach literacy skills to adults who read at or below a 4th grade reading level.</li>
									<li class="list"><b>Enhance Your Life</b> – case management to provide support, information, resources, and other services to help prevent homelessness and increase income.</li>
										<ul class="list">
											For more information contact Tonia Griffin or Judy Gillens @ (513) 271-5501 ext 11 <br>									
										</ul>
										<ul class="list">
											Download <a href="../static/documents/Enhance Your Life.pdf" download="Enhance Your Life Flyer"><ins>Enhance Your Life Flyer</ins> <i class="fa fa-file-pdf-o"></i></a>								
										</ul>
									<li class="list"><b>Cincinnati Works</b> - employment training, placement, job retention for the unemployed and under-employeed.</li>
										<ul class="list">
											For more information contact Shauntel Dobbins @ (513) 271-5501 ext 20 <br>									
										</ul>
										<ul class="list">
											Download <a href="../static/documents/Cincinnati Works.pdf" download="Cincinnati Works Flyer"><ins>Cincinnati Works Flyer</ins> <i class="fa fa-file-pdf-o"></i></a>								
										</ul>	
									<li class="list"><b>Counseling</b> - individual counseling through the Mental Health of America Northern Kentucky and Southwest Ohio.</li>
										<ul class="list">
											For more information contact Tonia Griffin or Judy Gillens @ (513) 271-5501 ext 11 <br>									
										</ul>	
								</ul>	
						    </div>
						    <div role="tabpanel" class="tab-pane" id="events">
								<p>Events include:</p>
								<ul>
									<li class="list"><b>Monday Night Community Meal</b> - served weekly every monday, excluding certain holidays (check our Event Calendar), and provided by host groups/churches open to the community. Bingo and raffle prizes are often provided.</li>
									<li class="list"><b>Swim Program</b> - Cincinnati Recreation Center passes and swim apparel provided to household members.</li>
									<li class="list"><b>Summer Literacy Camp</b> - Kindergarten through 2nd grade focused on increasing skills and confidence in the summer; 3 days/week for 4 weeks.</li>
									<li class="list"><b>School Back Packs</b> - back packs with school supplies provided for students through 12th grade.
									<li class="list"><b>Thanksgiving Baskets</b> - food boxes and turkeys given out the Sunday before Thanksgiving.</li>
									<li class="list"><b>Happy Holiday Shop (Christmas)</b> - holiday shopping experience for clients who wish to have gifts for their household members around the Christmas season.</li>
								</ul>
						    </div>
						</div>
					</div>
				</div>
			</div> <!-- .row -->
			<br>
			<div class="row">
				<div class="col-sm-12">
					<h2 class="title-style-2">Contact Information<span class="title-under"></span></h2>
					<p>Depending on the type of help you require, members of our MEAC team are available to answer your questions!</p>
					<p><b>Assistance Programs: </b>(513) 271-5501 ext. 16</p>
					<p><b>All Other Services & Programs: </b>(513) 271-5501</p>
					<p>To see all contact information for MEAC, please click <a href="contact.html"><b>here</b></a>.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h2 class="title-style-2">Additional Information<span class="title-under"></h2>
					<p>Please note:</p>
					<ul>
						<li class="list">The Emergency Financial Assistance Hotline opens up for accepting calls on the last Wednesday of each month.</li>
						<li class="list">Please call to find out if the CAA will be on site during the Summer Cooling and Winter Heating seasons.</li>
					</ul>
				</div>
			</div>

		</div> <!-- .container -->
	</div> <!-- .main-container -->
	
	<div class="push"></div>
	</div> <!-- /.wrapper || DO NOT MOVE OR CHANGE -->
	
<!-- FOOTER ================================================== -->

    <footer class="main-footer">
        <div class="footer-top"></div>

        <div class="footer-main">
            <div class="container">
                <div class="row">
					<div class="footer-content">
						<p class="text-center">© Madisonville Education and Assistance Center 2017</p>
						<p class="text-center">4600 Erie Avenue, Cincinnati, OH 45227 | <a href="tel:5132715501">(513) 271-5501</a> | meac.cincinnati@gmail.com</p>
						<ul class="list-unstyled list-inline text-center">
							<li> <a href="https://www.facebook.com/MEACCincinnati/" target="_blank"> <i class="fa fa-facebook-official"></i> </a> </li>
						</ul>
					</div> 
                    <div class="clearfix"></div>
                </div>
			</div> <!-- .container -->
        </div> <!-- .footer-main -->
        <!--<div class="footer-bottom"></div>-->
    </footer> <!-- main-footer -->

<!-- SCRIPTS ================================================== -->
       
    <script>window.jQuery || document.write('<script src="../static/js/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>

    </body>
</html>
