{% extends "base.html" %}
{% block content %}
<div class="page-header" align="center">
    <h1>Team Member Edit/Deletion</h1>
</div>

{% for message in get_flashed_messages() %}
<div class="w3-panel w3-green">
        <h3>{{ message }}</h3>
</div>
{% endfor %}

<div class="main-container">
    <div class="container">

        <form method="POST" enctype="multipart/form-data" name="user_form">

            <!-- Setting up the Form Elements/To be put into database -->
            <div class="row">
                <div class="col-md-2">
                    <div class="btn-group-vertical" role="group">
                        <a href="{{ url_for('admin_splash') }}" class="btn btn-info" role="button">Administrator Portal</a>
                        <a href="{{ url_for('new_adminFlag') }}" class="btn btn-info" role="button">Emergency Closures</a>
                        <a href="{{ url_for('new_adminPage') }}" class="btn btn-info" role="button">Page Selection</a>
                        <a href="{{ url_for('logout') }}" class="btn btn-info" role="button">Logout</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <h3>User Input</h3>
                    <p>To edit a specific area of text, select an option from the content field section with one of the following choices</p>
                       
                    {{ user_form.users.label }} {{ user_form.users() }} </br>
                    {{ user_form.submit() }}

        </form>
        
        <form method="POST" enctype="multipart/form-data" name="save_form">
            <hr>
            {{ save_form.csrf_token }}
            
            {% if show_user %}
            <p>Proceed to fill in all of the following fields, (if the field is not applicable, N/A is appropriate). The green banner will indicate your changes have been saved.</p>
            <div class="row">
                <div class="col-md-6">
                    {{ save_form.display_name.label }} <label class="align">{{ save_form.display_name(placeholder=userQuery.display_name) }} </label></br>
                    <p style="color:red">{{ errorList[1] }}</p></br>
                    {{ save_form.phone_number.label }} <label class="align">{{ save_form.phone_number(placeholder=userQuery.phone_number) }} </label></br>
                    <p style="color:red">{{ errorList[0] }}</p></br>
                    {{ save_form.email.label }} <label class="align">{{ save_form.email(placeholder=userQuery.email) }} </label></br>
                    <p style="color:red">{{ errorList[2] }}</p></br>
                    {{ save_form.description.label }} <label class="align">{{ save_form.description(placeholder=userQuery.description) }} </label></br>
                    <p style="color:red">{{ errorList[4] }}</p></br>
                    {{ save_form.file.label }} {{ save_form.file() }} </br>
                    <p style="color:red">{{ errorList[3] }}</p></br>
                    
                </div>
            </div>
            
            {{ save_form.save_user() }} 
            <hr>
            
        </form>

        <form method="POST" enctype="multipart/form-data" name="delete_form">

            <p>Click the button to delete team member from database.</p></br>
            {{ delete_form.deleteButton() }}
        </form>
        {% endif %}
        <!-- Column --></div>
        <!-- Row --></div>
        
    </div>
</div>
<div class="push"></div>
{% endblock %}