{% extends "base.html" %}

{% block title %}MEAC | Meet The Team{% endblock %}

{% block content %}
	<div class="main-container">
		<div class="container fadeIn animated">
		
			<div class="text-center">
				<br/>
				<h1>MEET THE TEAM<span class="title-under"></span></h1>
				<br/>
			</div>
	
	    	<div class="row">
                {% for user in users %}
	            <div class="col-md-3 col-sm-4 col-xs-6 single-col">
	                <div class="details details-small">
	                    <img src="{{ user.file_path }}" alt="" class="details-img">
	                    <h4 class="details-title">{{ user.display_name }}</h4>
	                    <div class="team-text">
							<p>{{ user.description }}</p>
							<p>{{ user.phone_number }}</p>
							<p><a href="mailto:dbc@fuse.net">{{ user.email }}</a></p>
	                    </div>
	            	</div>
	            </div>
                {% endfor %}
	    	</div> <!-- /.row -->

			<h2 class="title-style-1">Board of Trustees<span class="title-under"></span></h2>
			<div class="col-wrap text-center">
				<p>Walter Raines - Chair</p>
				<p>Michael Vilardo - Vice Chair</p>
				<p>Kevin Summers - Secretary</p>
				<p>Beth Ehrsam - Treasurer</p>
				<p>Marty Blied</p>
				<p>Mark Chandler</p>
				<p>Andrew Chun</p>
				<p>Evan Corbett</p>
				<p>Larry DiGennaro</p>
				<p>Susan Fox</p>
				<p>Courtney Helgeson</p>
				<p>Susie Lenhard</p>
				<p>Martin Muff</p>
				<p>Aaron Parker</p>
				<p>Kyle Roberts</p>
				<p>Marcie Vilardo</p>
			</div>

		</div> <!-- /.container -->
	</div> <!-- /.main-container  -->
	<div class="push"></div>
{% endblock %}