{% extends "base.html" %}

{% block title %} Administrator Page #1 {% endblock %}

{% block content %}
<div class="page-header" align="center">
    <h1>Page Selection</h1>
</div>

{% for message in get_flashed_messages() %}
<div class="w3-panel w3-red">
        <h3>{{ message }}</h3>
</div>
{% endfor %}
  
<div class="main-container">
    <div class="container">

        <form method="POST" enctype="multipart/form-data" align="left">

            <!-- Setting up the Form Elements/To be put into database -->
            <!-- {{ form.hidden_tag() }} -->
            <div class="row">
                <div class="col-md-2">
                    <div class="btn-group-vertical" role="group">
                        <a href="{{ url_for('admin_splash') }}" class="btn btn-info" role="button">Administrator Portal</a>
                        <a href="{{ url_for('new_adminFlag') }}" class="btn btn-info" role="button">Emergency Closures</a>
                        <a href="{{ url_for('new_adminPage') }}" class="btn btn-info" role="button">Page Selection</a>
                        <a href="{{ url_for('logout') }}" class="btn btn-info" role="button">Logout</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <h3>Page Element Updates</h3>
                    <p>To update a page, you must first select the page name, then click "Go"</p>
                    
                    <div class="row">
                        <div class="col-xs-4">
                            {{ form.page.label }} {{ form.page() }}
                        </div>
                        <div class="col-xs-8">
                            {{ form.submit() }}
                        </div>
                    </div>
     
            
        </form>
        {% if showEditors %}
            </br>
            <p><b>{{ page_name }}:</b> Select the type of update you'd like to make from the choices listed below.</p>

            {% if editContent %}
                <form method="get" action="{{ url_for('new_adminContent') }}" align="left">
                    <button type="submit">Edit Text</button>
                </form></br>
            {% endif %}
            
            {% if addContent %}
                <form method="get" action="{{ url_for('add_content') }}" align="left">
                    <button type="submit">Add/Delete List Items</button>
                </form></br>
            {% endif %}
            
            {% if editFile %}
                <form method="get" action="{{ url_for('new_adminFile') }}" align="left">
                    <button type="submit">Edit Existing Files</button>
                </form></br>
            {% endif %}
            
            {% if addFile %}
                <form method="get" action="{{ url_for('add_files') }}" align="left">
                    <button type="submit">Add/Delete Files</button>
                </form></br>
            {% endif %}
            
            {% if editHistory %}
                <form method="get" action="{{ url_for('add_history') }}" align="left">
                    <button type="submit">Add/Delete History</button>
                </form></br>
            {% endif %}
            
            {% if editUser %}
                <form method="get" action="{{ url_for('new_teamContent') }}" align="left">
                    <button type="submit">Add Team Members</button>
                </form></br>
                
                <form method="get" action="{{ url_for('edit_teamContent') }}" align="left">
                    <button type="submit">Edit/Delete Team Members</button>
                </form></br> 
            {% endif %}
        {% endif %}
        
        <hr>
        <form method="get" action="{{ url_for('admin_splash') }}" align="left">
                <button type="submit">Back</button>
        </form> 
        <!-- Column --></div>
        <!-- Row --></div>
    </div>
</div>
<div class="push"></div>
{% endblock %}